///*----------------------------------*\
//  #UTILITIES
//\*----------------------------------*/
//
//  A collection of utilities that allow for quickly applying small styling tweaks to components.
//  NOTE: Use Sparingly.
//
//\*----------------------------------*/
//
// Usage:
// <div class="u-mt-10"></div>

$box-model-property-map: (
    m: (
        margin
    ),
    mt: (
        margin-top
    ),
    mr: (
        margin-right
    ),
    mb: (
        margin-bottom
    ),
    ml: (
        margin-left
    ),
    mlr: (
        margin-left,
        margin-right
    ),
    mtb: (
        margin-top,
        margin-bottom
    ),
    p: (
        padding
    ),
    pt: (
        padding-top
    ),
    pr: (
        padding-right
    ),
    pb: (
        padding-bottom
    ),
    pl: (
        padding-left
    ),
    plr: (
        padding-left,
        padding-right
    ),
    ptb: (
        padding-top,
        padding-bottom
    )
);

@for $i from 0 through 20 {
    $v: $i * 5;

    @each $keyword, $property in $box-model-property-map {
        .u-#{$keyword}-#{$v} {
            @each $style in $property {
                #{$style}: $v + px;
            }
        }
    }
}

// stylelint-disable-next-line
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
