# wp-config.php
warren/advanced-cache.php
warren/backup-db/
warren/backups/
warren/blogs.dir/
warren/cache/
warren/upgrade/
warren/uploads/
warren/mu-plugins/
warren/wp-cache-config.php
warren/plugins/hello.php
_DBconfig.php

# Logs and databases #
######################
*.log
*.sqlite

# Assets #
######################
assets

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.psd
node_modules
warren/themes/babyshopqn/node_modules
warren/uploads

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/yarn.lock
/package-lock.json
/sitemap.xml.gz

