.c-carousel-product-list {
	
    .swiper-container {
//         background: red;

        &:not(.swiper-container-initialized) {
        	.swiper-slide {
        		width: calc(25% - 32px);
        		&:not(:nth-child(4n)) {
        			margin-right: 32px;
        		}
        		@media(max-width: 767px) {
        			width: calc(50% - 32px);
        		}
        		&:after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					z-index: 1;
					animation-duration: 1.8s;
					animation-fill-mode: forwards;
					animation-iteration-count: infinite;
					animation-name: placeHolderShimmer;
					animation-timing-function: linear;
					background: #f6f7f8;
					background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
					background-size: 1000px 640px;
				}

				@keyframes placeHolderShimmer{
					0%{
						background-position: -468px 0
					}
					100%{
						background-position: 468px 0
					}
				}

        	}
        }
    }
	&__slider {
		position: relative;
		.bbs-slide-prev,
		.bbs-slide-next {
			user-select: none;
			top: 38%;
			margin-top: -19px;
            box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
		}
		.bbs-slide-prev {
			left: -25px;
		}
		.bbs-slide-next {
			right: -25px;
		}
		&-pagination {
            display: none;
		}

		// .bbs-slide-prev,
		// .bbs-slide-next {
		// 	&:hover {
		// 		opacity: .5
		// 	}
		// }
	}
	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
		line-height: 1.3;
		// text-align: center;
		margin-bottom: 32px;
	}
	&__product {
		text-align: center;
		font-size: 14px;
		line-height: 1.3;
		color: $black;
		height: auto;
		display: block;
		padding-bottom: 30px;
		&-body {
			padding-left: 16px;
			padding-right: 16px;
			padding-bottom: 16px;
		}
		&-thumb{
			position: relative;
	    	padding-bottom: 84%;
	    	margin-bottom: 16px;
	    	overflow: hidden;
			img {
				@extend %ext_imgcover;
				transition: .3s ease-in-out;
				z-index: 1;
			}
			.thumb_second {
				opacity: 0;
				z-index: 1;
			}
		}
		&-btn_view {
			position: absolute;
			z-index: 2;
			bottom: 23px;
			background: $color_primary;
			display: block;
			color: #fff;
			left: 50%;
			transform: scale(1) translateX(-50%);
			white-space: nowrap;
			user-select: none;
			opacity: 1;
			padding: 8px 16px;
			font-size: 20px;
			border-radius: 22px;
			text-transform: uppercase;
			transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
		}
		&-title {
			font-weight: bold;
	    	margin-bottom: 8px;
			&:hover {
				color: $color_primary;
			}
		}
		&-btn {
			background: #fff;
		    display: inline-block;
		    color: #000;
		    white-space: nowrap;
		    user-select: none;
		    padding: 8px 24px;
		    font-size: 12px;
		    text-transform: uppercase;
		    border: 1px solid #000;
		    box-sizing: border-box;
		    border-radius: 19px;
			&:hover {
				background: $black;
				color: $white;
			}
		}
		&:hover {
			background-color: #fff;
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
			.thumb_second {
				opacity: 1;
				z-index: 2;
			}
		}
		&:not(:hover) &-btn_view{
		    	opacity: 0;
		    	bottom: 100%;
		}
		span.price {
			font-weight: bold;
			position: absolute;
		    bottom: 20px;
		    left: 0;
		    right: 0;
			 bdi {
				color: $color_primary;
			}
			 del {
				font-size: 80%
			}
		 }
		
	} 

	@media (min-width: 1171px) {
		.swiper-container {
			padding: 16px;
			margin-left: -16px;
			margin-right: -16px;
		}
    }
	@media (max-width: 1171px) {
		.swiper-container {
			// background: green;
			padding: 16px;
			margin-right: -16px;
			margin-left: -16px;
		}
		
		&__slider {

			.bbs-slide-prev {
				left: 16px;
			}
			.bbs-slide-next {
				right: 16px;
			}
		}

	}
	@include media-breakpoint-down(md){

		span.price {
			display: block;
			margin-bottom: 16px;
			bottom: 40px;
		 }

	    .bbs-slide-prev,
		.bbs-slide-next {
			display: none;
		}

		&__title {
			padding-left: 0;
			padding-right: 0;
			font-size: 24px;
			margin-bottom: 16px;
		}
        
		&__slider {
			&-pagination {
				display: block;
				position:relative;
				text-align:center;
				.swiper-pagination-bullet {
					background: $black;
					margin-left: 4px;
					margin-right: 4px;
				}
			}
		}
		&__product {
		    padding-bottom: 60px;
		    display: inline-block;
			&-btn_view {
			    transform: scale(.6) translateX(-80%);
			}
			&-btn{
				position: absolute;
			    bottom: 15px;
			    left: 0;
			    right: 0;
			    width: 120px;
			    margin: auto;
			}
			// background: #fefefe;
		}
	}
	
	@media (max-width: 425px) {
		&__title {
			text-align: center;
		}
        
	}
}

.product-quickview {
    @media (min-width: 766px) {
        .c-carousel-product-list__product-btn {
            display: none;
        }
    }
    @media (max-width: 767px) {
        .c-carousel-product-list__product-btn_view {
            display: none;
        }
    }
}