.c-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000ad;
    z-index: 12;
    opacity: 1;
    transition: opacity .3s ease-in-out;
   &:not(.show) {
		opacity: 0;
		pointer-events: none;
	}
	&__container {
		background: #fff;
		position: absolute;
		max-height: calc(100% - 16px * 2);
		max-width: calc(100% - 16px * 2);
		min-height: 300px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 16px;
		overflow-x: hidden;
		overflow-y: auto;
		min-width: 416px;
		@media(max-width: 640px) {
			width: 100%;
			min-width: calc(320px - 16px * 2);
		}
	}
    &__close {    	
		background-color: #fff;
		background-position: center center;
		background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L13 13M1 13L13 1L1 13Z' stroke='%23222428' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		position: absolute;
		display: block;
		height: 32px;
		width: 32px;
		border-radius: 50%;
		position: absolute;
		top: 12px;
		right: 12px;
		cursor: pointer;
		transform: rotate(0);
		transition: transform .3s ease-in-out;
		&:hover {
			transform: rotate(360deg)

		}
    }
    

    // Promotion Form
    &--promotion {
    	.c-modal__container {
    		width: calc(100% - 16px * 2);
    		max-width: 620px;
    	}
    	&__area {
    	}
    	&_form {
    		margin-bottom: 10px;
    		padding: 16px;
    		@media (min-width: 767px) {
    			padding-right: 6px;
    		}
    		.form-control_gr {
    			&:not(:last-child) {
    				margin-bottom: 16px;
    			}

				.wpcf7-not-valid-tip {
					
					margin-top: 10px;
					font-size: 12px;
				}
				.wpcf7-form-control-wrap {
					display: block;
				}
    		}
    		input[type="text"],
    		input[type="email"] {
    			border: 1px solid #888888;
				box-sizing: border-box;
				border-radius: 8px;
				font-size: 14px;
				padding: 14.6px;
    		}
    		input[type="submit"] {
    			background: #222428;
				border-radius: 20px;
				color: #fff;
				display: block;
				width: 100%;
				padding: 10px;
				font-size: 16px;
				border: 0;
				&:hover {
					background-color: $color-primary;
				}
    		}
            div.wpcf7 {
            	position: relative;
				form .wpcf7-response-output {
					margin: 2em 0.5em 1em;
					margin-right: 0;
					margin-left: 0;
					padding: 0.2em 1em;
					border-radius: 5px;
					font-size: 12px;
					line-height: 1.3;
				}

				form.invalid .wpcf7-response-output, 
				form.unaccepted .wpcf7-response-output {
					background-color: #ffb900;
					color: #000;
				}

				form.sent .wpcf7-response-output {
					background-color: #46b450;
					color: #000;
				}

				form.failed .wpcf7-response-output,
				form.aborted .wpcf7-response-output {
					background-color: #dc3232;
					color: #000;
				}

				form.spam .wpcf7-response-output {
					background-color: #f56e28;
					color: #000;
				}
				.ajax-loader {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-image: url("data:image/svg+xml,%0A%3Csvg width='200px' height='200px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-ripple' style='background-image: none; background-position: initial initial; background-repeat: initial initial;'%3E%3Ccircle cx='50' cy='50' r='0' fill='none' ng-attr-stroke='%7B%7Bconfig.c1%7D%7D' ng-attr-stroke-width='%7B%7Bconfig.width%7D%7D' stroke='%23dedede' stroke-width='2'%3E%3Canimate attributeName='r' calcMode='spline' values='0;40' keyTimes='0;1' dur='1' keySplines='0 0.2 0.8 1' begin='-0.5s' repeatCount='indefinite'%3E%3C/animate%3E%3Canimate attributeName='opacity' calcMode='spline' values='1;0' keyTimes='0;1' dur='1' keySplines='0.2 0 0.8 1' begin='-0.5s' repeatCount='indefinite'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='50' cy='50' r='0' fill='none' ng-attr-stroke='%7B%7Bconfig.c2%7D%7D' ng-attr-stroke-width='%7B%7Bconfig.width%7D%7D' stroke='%23b3b3b3' stroke-width='2'%3E%3Canimate attributeName='r' calcMode='spline' values='0;40' keyTimes='0;1' dur='1' keySplines='0 0.2 0.8 1' begin='0s' repeatCount='indefinite'%3E%3C/animate%3E%3Canimate attributeName='opacity' calcMode='spline' values='1;0' keyTimes='0;1' dur='1' keySplines='0.2 0 0.8 1' begin='0s' repeatCount='indefinite'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E");
					background-color: transparent;
					background-size: 100px;
					background-position: center;
					background-repeat: no-repeat;
					height: 100%;
					content: "";
					width: 100%;
					z-index: 2
				}
            }
    	}
    	&_title {
			font-weight: bold;
			font-size: 28px;
			line-height: 1.3;
			text-align: center;
			padding-left: 32px;
			padding-right: 32px;
			margin-bottom: 8px;
    	}
    	&_note {
    		margin-top: 24px;
    		font-size: 12px;
    		line-height: 1.3;
    		margin-bottom: 16px;
    		display: block;
    	}
    	&_description {
    		font-size: 12px;
    		text-align: center;
    		margin-bottom: 24px;
    		line-height: 1.3;
    	}
    	&_image {
    		position: relative;
    		overflow: hidden;
    		img {
    			@extend %ext_imgcover;
    			position: relative;
    		}
    		@media (max-width: 767px) {
    			display: none;
    		}
    	}
    }
} 

