
.menuspbar__shop_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 70vh;
    overflow: auto;
    a {
        background: #FFFFFF;
        /* Neutral / Light */
        border: 1px solid #ECECEC;
        box-sizing: border-box;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        flex: 0 0 calc(50% - 8px);
        position: relative;
        padding: 10px;
        font-weight: bold;
        padding-left: 52px;
        font-size: 12px;
        height: 64px;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
    a span {
        user-select: none;
        pointer-events: none;
    }
    a img,
    a svg {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

html.dlg_has_showmn_menuspbar {
    
    .c-popover__menuspbar {
        .c-popover__title {
            text-align: center
        }
        padding-bottom: 60px;
        overflow: auto;
        max-height: 100vh;
    }
    .c-menubar {
        z-index: 12;
        box-shadow: 0 0 10px #ededed;
    }
}