.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #22579f;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  &:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  &:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  &:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  &:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}



$bg-primary: #394261;
$bg-secondary: #fcb419;

$speed: 0.25s;
$border-radius: 16px;
$ui-radius: 4px;
$ui-height: 40px;
$light: #e5efe9;
$mid: #cacaca;
$dark: #808080;
$box-shadow: -20px 20px 35px 1px rgba(10, 49, 86, 0.18);
$focus-ring: 0px 0px 0px 2px $dark;
$border: 1px solid $mid;

$opacity-transition: opacity $speed ease-in-out;

.bds_list {
  .modal-header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  .close {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    position: absolute;
    right: -20px;
    top: -20px;
    border-radius: 50px;
    background: #9dc7ff;
    padding: 15px;

    svg {
      width: 16px;
    }
  }

  .modal-wrapper {
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
  }

  .card {
    background: #fff;
    background-image: linear-gradient(48deg, #fff 0%, $light 100%);
    border-top-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin: 40px;
    max-width: 400px;
    width: 100%;
  }

  .content-wrapper {
    font-size: 1.1em;
    margin-bottom: 44px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Button
  .button {
    align-items: center;
    background: $light;
    border: $border;
    border-radius: $ui-radius;
    color: $dark;
    cursor: pointer;
    font-size: 1em;
    justify-content: center;
    padding: 5px 15px;
    text-decoration: none;

    &:focus,
    &:hover {
      border: 2px solid transparent;
      box-shadow: $focus-ring;
      outline: solid 4px transparent;
      text-decoration: none;
    }
  }

  #modal {
    opacity: 0;
    transition: $opacity-transition;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;

      .modal-body {
        opacity: 1;
        transform: translateY(1);
      }
    }

    #land-modal-content {
      height: 100%;
      display: flex;
      flex-direction: column;

      .land-title {
        font-size: 120%;
        margin: 0 32px;
        margin-bottom: 10px;

        @media screen and (max-width: 768px) {
          margin: 0 10px;
          margin-bottom: 10px;
          font-size: 13pt;
        }
      }
    }

    .modal-body {
      max-width: 800px;
      opacity: 0;
      transform: translateY(-100px);
      transition: $opacity-transition;
      width: calc(100% - 20px);
      z-index: 1;
      height: 80vh;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      padding-top: 25px;
      margin: 0;

      @media screen and (max-width: 768px) {
        height: 85%;
      }
    }

    .modal-content {
      height: 100%;

      .land-body {
        height: calc(100% - 90px);
        overflow-y: auto;
        padding: 0 32px;
        font-size: 100%;

        @media screen and (max-width: 768px) {
          padding: 0 10px;
          height: calc(100% - 90px);
          padding-bottom: 50px;
        }

        p.strong {
          font-weight: bold;
          color: #f00;
        }

        p {
          margin-bottom: 5px;

          > a[href="tel:0905054757"] {
            background-color: #003d8e;
            padding: 5px 23px;
            display: inline-block;
            border: 1px solid #ccc;
            color: #fff;
            font-weight: bold;
            border-radius: 7px;
            border-bottom: 3px solid #509bff;
            font-size: 16px;
            text-decoration: none;
            transition: all 0.3s;

            &:hover {
              border-bottom-color: #f55151;
            }
          }
        }

        &::-webkit-scrollbar {
          width: 3px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: none;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #1a73e8;
        }
      }

      .land-footer {
        text-align: right;
        padding: 10px 32px;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px 32px;

        a {
          display: inline-block;
          line-height: 1.2em;
        }

        @media screen and (max-width: 768px) {
          padding: 10px;
        }
      }
    }
  }

  .outside-trigger {
    bottom: 0;
    cursor: default;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  .button__link {
    text-decoration: none;
  }

  .close-modal {
    height: 46px;
    width: 46px;

    @media screen and (max-width: 768px) {
      height: 38px;
      width: 38px;
      padding: 13px;
      right: -10px;
      top: -10px;

      svg {
        width: 12px;
      }
    }
  }

  .land__gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 25px;
    margin-bottom: 25px;

    .land__gallery_item {
      width: 25%;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;

      > a {
        height: 0;
        padding-bottom: (6 / 9 * 100%);
        display: block;
        border: 1px solid #7d7d7d;
        background-size: contain;
        background-position: center top;
        background-repeat: no-repeat;
        text-indent: -1000px;
        overflow: hidden;
      }
    }
  }

  .lands {
    display: flex;
    flex-wrap: wrap;
    margin-left: -3px;
    margin-right: -3px;

    @media screen and (max-width: 768px) {
      .view-more .more {
        padding: 10px 30px;
      }
    }
    .loading {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px;
    }
    .land {
      padding-left: 3px;
      padding-right: 3px;
      width: 25%;
      margin-bottom: 20px;
      @media screen and (max-width: 768px) {
        width: 50%;
      }
      &:hover {
        z-index: +2;
      }
      .land-content {
        cursor: pointer;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all 0.3s;
        height: 100%;
        &:hover {
          transform: scale(1.05);
          box-shadow: rgba(0, 0, 0, 0.9) 0px 3px 8px;
        }
        .thumbnail {
          display: block;
          width: 100%;
          height: 0;
          padding-bottom: calc(6 / 9 * 100%);
          background-position: center;
          background-size: cover;
          position: relative;
          text-indent: -1000px;
          overflow: hidden;
          transition: all 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
        .detail {
          font-size: 13px;
          padding: 10px;
          line-height: 1.4;
          h3 {
            font-size: 14px;
            margin-bottom: 5px;
            a {
              color: inherit;
              text-decoration: none;
            }
          }
          .bds_badges {
            margin-bottom: 5px;
            .bds_badge {
              display: inline-block;
              background: #1a73e8;
              font-weight: bold;
              padding: 6px 8px;
              font-size: 0.8em;
              border-radius: 15px;
              color: #fff;
              margin-bottom: 4px;
              &.ban-roi {
                background-color: #ff2010 !important;
              }
              &.dang-chao {
                background-color: #139c14 !important;
              }
              &.tam-ngung-ban {
                background-color: #ecc500 !important;
              }
              &.so-hong {
                background-color: #cc3f7c !important;
              }
              &.so-do {
                background-color: #bd0a0a !important;
              }
              &.giay-tay {
                background: #2f2f2f !important;
              }
              &.chua-so-cho-tien-do {
                background-color: #af7909 !important;
              }
              &.dong-so-huu {
                background: rgb(2, 0, 36) !important;
                background: linear-gradient(
                  137deg,
                  #007bff 0%,
                  #121263 35%,
                  #16849a 100%
                ) !important;
              }
            }
          }
          .location {
          }
        }
      }
    }
  }

  .post-more,
  .view-more {
    margin: 20px 0;
    text-align: center;
    width: 100%;
    .more {
      display: inline-block;
      padding: 10px 100px;
      background: $bg-primary;
      color: #fff;
    }
  }

  .load-more {
    margin: 20px 0;
    text-align: center;
    width: 100%;
    .more {
      padding: 5px 0;
      display: inline-block;
      width: 250px;
      max-width: 100%;
      color: $bg-primary;
      border-bottom: 1px solid #fff;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $bg-primary;
      }
    }
  }
}

