.hero-slider {
    position: relative;
    .swiper-slide {
        background-size: cover;
        background-position: center;
        .slide-wrapper{
            // height: 77vh;
            justify-content: flex-end;
            display: flex;
            flex-direction: column;
            // padding: 60px 8%;
            // @include media-breakpoint-down(xxl){
            //     padding: 40px 5%;
            // }
            // @include media-breakpoint-down(sm){
            //     padding: 30px 15px;
            //     height: 60vh;
            // }
        }
        &.bottom-right,&.bottom-left {
            .slide-wrapper{
                justify-content: flex-end;
            }
        }
        &.top-right,&.top-left {
            .slide-wrapper{
                justify-content: flex-start;
            }
        }
        &.bottom-left,&.top-left {
            .slide-wrapper{
                align-items: flex-start;
            }
        }
        &.bottom-right,&.top-right {
            .slide-wrapper{
                align-items: flex-end;
            }
        }
        &.center {
            .slide-wrapper{
                align-items: center;
                justify-content: center;
            }
        }
        .btn {
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
        }
        .slide-content {
            color: #04362d;
            font-size: 30px;
            @include media-breakpoint-down(md) {
                font-size: 20px;
            }
        }
        .button-group {
            margin-top: 20px;
            display: flex;
        }
    }
    &.mobile {
        display: none;
        .swiper-slide {
            display: none;
        }
        
        .slide-wrapper {
            height: 0;
            padding-bottom: 100%;
        }
        @include media-breakpoint-down(md){
            display: block;
            .swiper-slide {
                display: block;
            }
        }
    }
    &.desktop {
        .slide-wrapper {
            height: 0;
            padding-bottom: 41%;
        }
        @include media-breakpoint-down(md){
            display: none;
            .swiper-slide {
                display: none;
            }
        }
    }
}

.bbs-slide {
    &-prev,&-next{
        position: absolute;
        top: 50%;
        margin-top: -13.5px;
        z-index: 1;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        svg {
            width: 5.8px;
            height: 9.6px;
            path {
                fill: #000;
            }
        }
        &.swiper-button-disabled,&:hover{
            border: 1px solid #E2E2E2;
            svg {
                path {
                    fill: #E2E2E2;
                }
            }
        }
        &.swiper-button-disabled {
            pointer-events: none;
        }
        &.hero {
            left: 16px;
            width: 48px;
            height: 48px;
            margin-top: -31.5px;
            svg  {
                width: 7.7px;
                height: 12.8px;
            }
            @media (max-width: 767px) {
                width: 36px;
                height: 36px;
                margin-top: -17.5px;
                svg {
                    width: 4.3px;
                    height: 7.1px;
                }
            }
        }
    }
    &-next {
        left: auto;
        right: 0;
        &.hero {
            left: auto;
            right: 16px
        }
    }
    
}