.icon-list{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $color_secondary;
    color: #fff;
    font-size: 14px;
    .d_row {
        justify-content: space-evenly;

        @include media-breakpoint-down(md){
            justify-content: flex-start;
            flex-wrap: wrap;
            padding-left: 16px;
            .icon-list--item {
                flex: 0 0 50%;
                width: 50%;
                padding-right: 16px;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }
    @include media-breakpoint-down(md){
        
        font-size: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
        .list-icon {
            width: auto;
            height: 28px;
        }
    }
    &:before,&:after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 11px;
        background: #fff;
        z-index: 1;
        pointer-events: none;
    }
    &:after {
        top: auto;
        bottom: 11px;
    }
    .icon-list--item {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        width: auto;
        .list-icon {
            overflow: hidden;
        }
        .list-text {
            padding-left: 17px;
            font-weight: bold;
            line-height: 1.3;
            @include media-breakpoint-down(md){
                padding-left: 9px;
            }
        }

    }
}