
.c-product__slider {
    width: 40%;
    margin-right: 30px;
    overflow: hidden;
    
    .product-image {
        margin-bottom: 30px;
    }
   
    img{
        width: 100%;
        height: auto;
    }
    
    .onsale {
        display: none;
    }
}
