.bg-color_primary {
    background-color: $color_primary;
}

.bg-color_secondary {
    background-color: $color_secondary;
}

.bg-black {
    background-color: $black;
}

strong {
    font-weight: bold;
}

.btn,#respond input#submit, a.button, button.button, input.button {
    padding: 10px 15px;
    font-weight: 600;
    transition: all 0.3s ease;
    border-style: solid;
    border-color: transparent;
    border-radius: 20px;
    background-color: $color_secondary;
    color: #fff;

    &.full-width {
        width: 100%;
    }
   
    &--color_primary {
        background-color: $color_primary;
    }

    &:hover {
        background-color: $black;
        color: #fff;
    }

    &.active,&:active {
        background-color: #888;
        color: #fff;
    }

    &.disabled {
        background-color: #ECECEC;
        pointer-events: none;
    }

    &.size-small {
        font-size: 14px;
    }
}

// Input form major
select,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea
{
    border: 1px solid #888;
    box-shadow: 0 0 0;
    font-size: 14px;
    padding: 10px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}
//  Extend
%ext_absolute_topcenter {
    top: 50%;
    transform: translateY(-50%);
}

%ext_absolute_leftcenter {
    left: 50%;
    transform: translateX(-50%);
}

%ext_imgcover {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

%ext_bgloader_notactive {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='https://www.w3.org/2000/svg' class='lds-message' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cg transform='translate(20 50)'%3E%3Ccircle cx='0' cy='0' r='7' fill='%23e15b64' transform='scale(0.99275 0.99275)'%3E%3CanimateTransform attributeName='transform' type='scale' begin='-0.375s' calcMode='spline' keySplines='0.3 0 0.7 1;0.3 0 0.7 1' values='0;1;0' keyTimes='0;0.5;1' dur='1s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3Cg transform='translate(40 50)'%3E%3Ccircle cx='0' cy='0' r='7' fill='%23f47e60' transform='scale(0.773605 0.773605)'%3E%3CanimateTransform attributeName='transform' type='scale' begin='-0.25s' calcMode='spline' keySplines='0.3 0 0.7 1;0.3 0 0.7 1' values='0;1;0' keyTimes='0;0.5;1' dur='1s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3Cg transform='translate(60 50)'%3E%3Ccircle cx='0' cy='0' r='7' fill='%23f8b26a' transform='scale(0.42525 0.42525)'%3E%3CanimateTransform attributeName='transform' type='scale' begin='-0.125s' calcMode='spline' keySplines='0.3 0 0.7 1;0.3 0 0.7 1' values='0;1;0' keyTimes='0;0.5;1' dur='1s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3Cg transform='translate(80 50)'%3E%3Ccircle cx='0' cy='0' r='7' fill='%23abbd81' transform='scale(0.113418 0.113418)'%3E%3CanimateTransform attributeName='transform' type='scale' begin='0s' calcMode='spline' keySplines='0.3 0 0.7 1;0.3 0 0.7 1' values='0;1;0' keyTimes='0;0.5;1' dur='1s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    background-color: transparent;
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

%ext_bgloader {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='https://www.w3.org/2000/svg' class='lds-message' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cg transform='translate(20 50)'%3E%3Ccircle cx='0' cy='0' r='7' fill='%23e15b64' transform='scale(0.99275 0.99275)'%3E%3CanimateTransform attributeName='transform' type='scale' begin='-0.375s' calcMode='spline' keySplines='0.3 0 0.7 1;0.3 0 0.7 1' values='0;1;0' keyTimes='0;0.5;1' dur='1s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3Cg transform='translate(40 50)'%3E%3Ccircle cx='0' cy='0' r='7' fill='%23f47e60' transform='scale(0.773605 0.773605)'%3E%3CanimateTransform attributeName='transform' type='scale' begin='-0.25s' calcMode='spline' keySplines='0.3 0 0.7 1;0.3 0 0.7 1' values='0;1;0' keyTimes='0;0.5;1' dur='1s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3Cg transform='translate(60 50)'%3E%3Ccircle cx='0' cy='0' r='7' fill='%23f8b26a' transform='scale(0.42525 0.42525)'%3E%3CanimateTransform attributeName='transform' type='scale' begin='-0.125s' calcMode='spline' keySplines='0.3 0 0.7 1;0.3 0 0.7 1' values='0;1;0' keyTimes='0;0.5;1' dur='1s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3Cg transform='translate(80 50)'%3E%3Ccircle cx='0' cy='0' r='7' fill='%23abbd81' transform='scale(0.113418 0.113418)'%3E%3CanimateTransform attributeName='transform' type='scale' begin='0s' calcMode='spline' keySplines='0.3 0 0.7 1;0.3 0 0.7 1' values='0;1;0' keyTimes='0;0.5;1' dur='1s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    background-color: transparent;
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

%ext_clearfix {
    content: "";
    display:block;
    clear: both;
}

.bbs2-container {
    max-width: 1120px;
    margin: 0 auto;
  
    @media (max-width: calc(1120px + 40px)) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @media (max-width: calc(769px + 40px)) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (max-width: calc(425px + 40px)) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.section{

    &-far{
        margin-bottom: 80px;

        @include media-breakpoint-down(md){
            margin-bottom: 48px;
        }

        @include media-breakpoint-down(sm){
            margin-bottom: 30px;
        }
    }

    &-near{
        margin-bottom: 30px;
        @include media-breakpoint-down(sm){
            margin-bottom: 15px;
        }
    }
}

.page-title {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 30px;
   
    @include media-breakpoint-down(md){
        font-size: 35px;
    }
   
    @include media-breakpoint-down(sm){
        font-size: 30px;
    }
}

.cart-customlocation {
    position: relative;

    span {
        background-color: $color_primary;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: block;
        border: 1px solid #fff;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        font-weight: bold;
        color: #fff;
        position: absolute;
        bottom: 50%;
        left: 50%;
    }
}

#sidebar {
    display: none;
}

.c-max_content {
    max-width: 100vw;
    overflow: hidden;
}

@media (min-width: 767px) {
    .oslp {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .oplc {
        display: none !important;
    }
}

.text {
    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }
}

.d_row {
    display: flex;
}

.d_col {
    flex: 1 0 0%;
}

.section-title {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 30px;

    @include media-breakpoint-down(md){
        font-size: 24px;
    }
   
}

.h1 {
    @extend .page-title;
}

.sticky {
    position: fixed !important;
    left: 0;
    width: 100%;
    top: 0;
}

.float{
    &--left {
        float: left;
    }

    &--right {
        float: right;
    }

    &--none {
        float: none;
    }
}

.btn {
    &--inline{
        display: inline-block;
        min-width: 152px;
        padding: 0.88em 1em;
        text-align: center;
        border: 1px solid currentColor;

        @include media-breakpoint-down(sm){
            min-width: 140px;
        }
    }

    &--outlined{
        background-color: #fff;
        color: $color_secondary;

        &:hover {
            background-color: $color_secondary;
            color: #fff;
        }
    }
}

small {
    font-size: 0.88rem;
}

.d-table  {
    display: table;
}

.bannertop {
    position: relative;
    height: 70vh;
    min-height: 300px;
    margin-bottom: -60px;

    img {
        @extend %ext_imgcover;
    }

    @media (max-width: 767px) {
        
        height: 60vh;
    }
}

body {

    &.ajaxLoading:after {
        @extend %ext_bgloader;
        opacity: 1;
        background-color: rgba(0,0,0,.7);
    }

    &.is-init {
        opacity: 1;
    }

    &.is-unloaded {

        a {
            pointer-events: none;
        }
    }
}

.o-overflow--visible {
    overflow: visible;
}

.svg svg {
    width: 100%;
    height: auto;
}