@keyframes fadeInUpCenter {
    0% {
        opacity: 0;
        transform: translate(-50%,20px);
    }

    100% {
        opacity: 1;

        transform: translate(-50%,0);
    } 
}

@keyframes fadeInUp {
   0% {
       opacity: 0;
       transform: translateY(20px);
   }
   
   100% {
       opacity: 1;

       transform: translateY(0);
   } 
}

@keyframes fadeOutDown {
   0% {
       opacity: 1;
       transform: translateY(0);
   }
   
   99% {
       opacity: 0;
       transform: translateY(20px);
       
   } 
   
   100% {
       opacity: 0;
       transform: translateY(20px);
   } 
}

@keyframes fadeOutDownCenter {
    0% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
   
    99% {
        opacity: 0;
        transform: translate(-50%, 20px);
        
    } 
   
    100% {
        opacity: 0;
        transform: translate(-50%, 20px);
    } 
 }